<html ng-app="app">
  <head>
    <title>Simple demo application</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Demo Website</h1>

      <div class="row" contentful-entries="'content_type=7y47SMy3KMkkWKoWUkQ0Sc&order=fields.title&limit=3'">
        <div class="col-md-4" ng-repeat="$blogPost in $contentfulEntries.items">
          <h2>{{ $blogPost.fields.title }}</h2>
          <p>{{ $blogPost.fields.content | limitTo:220 }}</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <h3>Contentful JSON Response</h3>
      <pre contentful-entries="'content_type=7y47SMy3KMkkWKoWUkQ0Sc&order=fields.title&limit=3'">
        {{ $contentfulEntries | json }}
      </pre>
      <hr>
      <footer>
        <p>&copy; Cosmos Development Team 2015</p>
      </footer>
    </div>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-contentful/dist/angular-contentful.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
